<div class="row text-center mt-5 p-5">
    <h1 class="mb-5 font-bold">SAVVY</h1>
    <div class="d-flex flex-column justify-content-center mt-5">
      <%= link_to "log in", user_session_path, class: "splash font-light mt-5" %>
      <%= link_to "sign up",  new_user_registration_path, class: "splash font-light" %>
    </div>
</div>