<div class="row text-center ms-5 me-5 p-5 front-page">
    <h1 class="mb-5 font-bold">SAVVY</h1>
    <div class="d-flex justify-content-center">
      <%= link_to "log in", user_session_path, class: "link font-light me-5" %>
      <%= link_to "sign up",  new_user_registration_path, class: "link font-light ms-5" %>
    </div>
</div>