<div class="text-center main-color">
    <h1 class="">SAVVY</h1>
    <div class="d-flex justify-content-center">
      <%= link_to "log in", user_session_path, class: "link text-color me-3" %>
      <%= link_to "sign up",  new_user_registration_path, class: "link text-color ms-3" %>
    </div>
</div>