<div class="row text-center ms-5 me-5 p-5 main-color front-page">
    <h1 class="mb-5">SAVVY</h1>
    <div class="d-flex justify-content-center">
      <%= link_to "log in", user_session_path, class: "link text-color me-5" %>
      <%= link_to "sign up",  new_user_registration_path, class: "link text-color ms-5" %>
    </div>
</div>