html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.front-page {
  background-image: url("background-front-page.jpg");
  width: 80%;
  position: absolute;
  left: 5em;
  padding: 1.5em;
  border-radius: 20px;
  top: 3em;
}

.width {
  width: 12em;
}

.main-color {
  background-color: #3778c2;
}

.second-color {
  background-color: #5fb523;
}

.link {
  text-decoration: none;
  border-radius: 10px;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  width: 6.5em;
  background-color: #5fb523;
  border: none;
  text-align: center;
}

.link:hover {
  color: white;
  border: white solid 0.5px;
}

.icon-back-form {
  text-decoration: none;
  border: none;
  color: #434b54;
  font-size: 34px;
  padding: 0.5em;
  background-color: #5fb523;
  border-radius: 50%;
  width: 30%;
  text-align: center;
}

.icon-back-form:hover {
  color: white;
  border: white solid 0.5px;
}

.icon-back {
  text-decoration: none;
  border: none;
  color: #434b54;
  font-size: 34px;
  padding: 0.5em;
  background-color: #5fb523;
  border-radius: 50%;
  width: 70%;
  text-align: center;
}

.icon-back:hover {
  color: white;
  border: white solid 0.5px;
}

.icon-trash {
  text-decoration: none;
  border: none;
  color: #434b54;
  font-size: 34px;
  padding: 0.5em;
  background-color: #5fb523;
  border-radius: 50%;
  width: 4%;
  text-align: center;
}

.icon-trash:hover {
  color: white;
  border: white solid 0.5px;
}

.font-bold {
  font-family: 'ProximaBold', sans-serif;
  src: url('ProximaNovaBold.otf');
  font-weight: 900;
  color: #434b54;
  font-size: 50px;
}

.font-light {
  font-family: 'ProximaLight', sans-serif;
  src: url('ProximaNovaCondensedLight.otf');
  font-weight: 700;
  color: #434b54;
  font-size: 18px;
  text-decoration: none;
}

.image-size {
  height: 15%;
  width: 15%;
}

.alert {
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  color: #434b54;
}

.notice {
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  color: #434b54;
}

.Savvy {
  font-family: 'ProximaBold', sans-serif;
  src: url('Proxima-Nova-Bold-Italic.otf');
  font-weight: 900;
  color: #434b54;
  font-size: 50px;
  font-style: italic;
}

.fa-bars {
  color: #434b54;
  font-size: 30px;
}

