.main-color {
  background-color: #3778c2;
}

.second-color {
  background-color: #5fb523;
}

.text-color {
  color: #434b54
}

.link {
  text-decoration: none;
  border-radius: 10px;
  padding: 0.5em;
  background-color: #5fb523;
}

.link:hover {
  color: #08f5fc;
  border: #08f5fc solid 2px;
}
