<div class="nav navbar main-color">
  <% if user_signed_in? %>
    <%= button_to 'Sign out', destroy_user_session_path(@user), method: :delete, data: { turbo: false }, class: 'btn btn-danger font-light' %>
  <% end %>
</div>
