<div class="nav navbar main-color">
  <% if  params[:action].present? %>
    <%= link_to groups_path do %>
      <i class="fa-solid fa-arrow-left text-white ms-3"></i>
    <%end %>
  <%else%>
    <%= link_to :back do %>
      <i class="fa-solid fa-arrow-left text-white ms-3"></i>
    <%end %>
  <%end%>
  <%p params%>
  <% if params[:action] == 'show'%>
    <h2 class="text-white ms-4">transactions</h2>
  <% else%>
    <h2 class="text-white ms-4">Category</h2>
  <%end%>
  <%= button_to "Log out", destroy_user_session_path, class: "btn bg-blue text-white", method: :delete, data: { turbo: false } %>
</div>
